.HeroSection {
    height: 100vh;
    position: relative;

    .inner-content {
        position: absolute;
        top: 35vh;
    }

    h1 {
        font-size: 90px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 0px;
    }

    h2 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 700 !important;
        font-size: 34px;
        color: #F900BF;
        background: linear-gradient(45deg, #F900BF, #9900F0, #4700D8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 45px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -20px;
            height: 8px;
            width: 140px;
            background: linear-gradient(45deg, #F900BF, #9900F0, #4700D8);
        }
    }

    .icon-section {
        margin-top: 25px;

        img {
            opacity: .5;
            width: 38px;
            cursor: pointer;
            margin-right: 10px;

            &:hover {
                opacity: 1;
            }
        }

    }
}