.about-section {
    padding: 70px 0 120px;

    p {
        font-size: 18px;
        line-height: 2;
        color: #cfbcd3;
        margin-bottom: 30px;
    }

    .image-container {
        text-align: center;
        isolation: isolate;
        width: 400px;
        position: relative;
        margin: -40px auto 0;

        &:hover {
            &:after {
                opacity: 0;
                left: -20%;
                top: -20%;
            }
        }
        
        
        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #F900BF, #9900F0, #4700D8);
            left: 8%;
            top: 4%;
            z-index: 5;
            border-radius: 20px;
            content: "";
            transition: all .25s;
        }

        .about-image {
            width: 100%;
            border-radius: 20px;
            mix-blend-mode: screen;
            position: relative;
            z-index: 6;
            // border: 8px solid #f100c3;
            // box-shadow: 36px 23px 7px rgb(0 0 0 / 75%);
        }
    }

}