.hero-section {
    height: 100vh;
    position: relative;

    .inner-content {
        position: absolute;
        top: 35vh;
    }

    h1 {
        font-size: 110px;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 0px;
    }

    h2 {
        font-weight: 600 !important;
        font-size: 34px;
        color: #F900BF;
        background: linear-gradient(45deg, #F900BF, #9900F0, #4700D8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: 55px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -20px;
            height: 8px;
            width: 200px;
            background: linear-gradient(45deg, #F900BF, #9900F0, #4700D8);
            border-radius: 5px;
        }
    }
}